<div
  class="d-flex justify-content-center align-content-center flex-column">

  <h1>Você como admin, pode realizar algumas ações</h1>
  <ul>
    <li>
      <a href="/admin/post">Adicionar um produto</a>
    </li>
    <li>
      <a href="/admin/get">Listagem de todos nossos produtos</a>
    </li>
    <li>
      <a href="/admin/get/:id">Listagem de um produto baseado em seu id</a>
    </li>
    <li>
      <a href="admin/update/:id">Atualizar um produto</a>
    </li>
    <li>
      <a href="admin/update/:id">Deletar um produto</a>
    </li>
  </ul>
</div>
