<div
  class="d-flex justify-content-center align-content-center flex-column">

  <h1>Você como admin, pode realizar algumas ações</h1>
  <ul class="py-2">
    <li class="py-2">
      <a href="/admin/post" class="btn btn-primary">Adicionar um produto</a>
    </li>
    <li class="py-2">
      <a href="/admin/get" class="btn btn-primary">Listagem de todos nossos produtos</a>
    </li>
    <li class="py-2">
      <a href="/admin/get/:id" class="btn btn-primary">Listagem de um produto baseado em seu id</a>
    </li>
    <li class="py-2">
      <a href="admin/update/:id" class="btn btn-primary">Atualizar um produto</a>
    </li>
    <li class="py-2">
      <a href="admin/delete/:id" class="btn btn-danger">Deletar um produto</a>
    </li>
  </ul>
</div>
